body{
    background-color: rgb(235, 182, 148);
}
form{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 100px;
    border : 2px dashed rgb(78, 241, 60); padding: 30px"
}