body{
    background-color: rgb(158, 193, 193);
}
form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 60px;
    border : 2px dashed black; padding: 30px"
}