body{
    background-color: rgb(197, 126, 237);
}
form{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 80px;
    border : 2px dashed rgb(255, 255, 255); padding: 30px"
}